<header class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/index">
          <img src="/static/img/logo.jpg" alt="CompuApple" class="logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/products">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/aboutUs">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> <span id="cart-counter" class="cart-counter">0</span> 
                  </a>
              </li>
              <li class="nav-item">
                  <span id="toggle-btn" class="nav-link dark-mode-toggle"><i class="fa-regular fa-lightbulb"></i></span>
              </li>
          </ul>
      </div>
  </div>
</header>
