<<<<<<< HEAD

=======
<<<<<<< HEAD
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* ------------- Estilo header -------------*/
header {
  background-color: #222;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  height: auto;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
}

/* Estilo logo header */
.logo img {
  width: 200px;
  height: auto;
}
/* Estilo de navegación */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para mostrar el menú cuando se activa */
nav ul.active {
  display: flex; /* Muestra el menú cuando se activa */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #eee;
  text-decoration: none;
  font-size: 16px;
}
/* Efecto hover cambia de color cuando pasa por encima de los distintos enlaces */
nav ul li a:hover {
  color: #14de43;
}

/* ------------- Estilo Footer -------------*/
footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 10px 0;
}

/*contenido ppal*/
body{
  background-color: #f2f2f2;
}
=======

>>>>>>> origin/master
>>>>>>> 1fa703adf2c5159cf9ef7bfc6c7537a02351e6a2
.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}
.heading h1 {
  font-size: 50px;
  color: #222;
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}
.heading p{
  font-size: 18px;
  color: #555;
  margin-bottom: 35px;
}
.container{
  width: 90%;
  padding: 10px 20px;
  margin: 0 auto;
}
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
  flex: 1;
}
.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}
.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  color: #eee;
  background: #4caf50;
  font-size: 20px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}
.about-content .read-more:hover{
  background: #3e8e41;
}

@media screen and (max-width: 768px){
  .heading{
    padding: 0px 20px;
  }
  .heading h1{
    font-size: 36px;
  }
  .heading p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  }
  .about-image{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p {
    padding: 0;
    font-size: 15px;
  }
  .about-content .read-more{
    font-size: 16px;
  }
}