.card {
  width: 250px; /* Ajusta este ancho según lo necesites */
  background-color: #ffffff;
  padding: 1rem; /* Reduce el padding para que sea más compacto */
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem; /* Espacio entre tarjetas */
}

.card-img-top {
  width: 100%;
  height: 150px; /* Limita la altura para hacer la tarjeta más pequeña */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.card-body .card-title {
  font-size: 1.2rem; /* Reduce el tamaño de la fuente */
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.card-body .card-text {
  font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  color: #777;
  margin-bottom: 1rem;
}

.card-body .price {
  font-size: 1.1rem; /* Reduce el tamaño de la fuente */
  color: #020202;
  font-weight: bold;
  margin-bottom: 1rem;
}
