/* ----------- Dispositivos móviles ----------- */
@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .menu-lateral {
        width: 100%;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }

    .productos {
        grid-template-columns: 1fr; /* Una sola columna para mejor visualización en móvil */
        gap: 1rem;
    }

    .card {
        padding: 1rem;
    }

    .buscador {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 1rem;
        align-items: stretch;
    }

    .buscador input,
    .buscador button {
        width: 100%;
    }

    #btn-subir-arriba {
        bottom: 20px;
    }
}

/* ----------- Tabletas ----------- */
@media (min-width: 601px) and (max-width: 1024px) {
    .contenedor {
        flex-direction: row;
        padding: 1rem;
        gap: 1.5rem;
    }

    .menu-lateral {
        width: 220px;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .productos {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para mejorar la distribución en tabletas */
        gap: 1.5rem;
    }

    .buscador {
        flex-direction: row;
        gap: 0.5rem;
        padding: 0 1rem;
        align-items: center;
    }

    .buscador input {
        width: 65%;
    }

    .buscador button {
        width: 30%;
    }

    #btn-subir-arriba {
        bottom: 50px;
    }
}

/* ----------- Computadoras ----------- */
@media (min-width: 1025px) {
    .contenedor {
        flex-direction: row;
    }

    .menu-lateral {
        width: 250px;
    }

    .productos {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .buscador {
        justify-content: center;
    }

    .buscador input {
        width: 300px;
    }

    .buscador button {
        width: auto;
    }
}

