* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Estilo body */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo header */
header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 10;
    position: relative;
    height: 80px;
}

/* Estilo logo header */
.logo img {
    display: block;
    width: 200px;
    /* Tamaño del logo */
    height: 80px;
}

.logo a {
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Estilo navegación */
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Estilo ícono de font awesome */
nav ul li a i {
    font-size: 24px;
    margin-right: 8px;
}

/* Efecto hover cambia de color cuando pasa por encima de los distintos enlaces */
nav ul li a:hover {
    color: #14de43;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 1em;
}

#form-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    max-width: 100%;
    /* Asegura que el formulario no sea más ancho que el contenedor en pantallas pequeñas */
}

.form {
    transition: opacity 0.3s ease-in-out;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 8px;
    background: #f9f9f9;
}

.hidden {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}


/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav a {
        margin: 10px 0;
    }

    #form-container {
        width: 90%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {

    header h1 {
        font-size: 1.2em;
        /* Reduce el tamaño del texto del encabezado en pantallas más pequeñas */
    }

    #container {
        height: auto;
        /* Ajusta la altura para que el contenedor se ajuste al contenido */
        padding: 10px;
        /* Reduce el relleno para pantallas pequeñas */
    }

    #form-container {
        width: 100%;
        padding: 15px;
    }
}