* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

/* Estilo body */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Estilo header */
header {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 10;
    position: relative;
    height: 80px;
}

/* Estilo logo header */
.logo img {
    display: block;
    width: 200px;
    /* Tamaño del logo */
    height: 80px;
}

.logo a {
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Estilo navegación */
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Estilo ícono de font awesome */
nav ul li a i {
    font-size: 24px;
    margin-right: 8px;
}

/* Efecto hover cambia de color cuando pasa por encima de los distintos enlaces */
nav ul li a:hover {
    color: #14de43;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

#admin-container {
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    position: relative;
}

/* Estilo de la imagen del producto dentro de la tarjeta */
.product-card img {
    max-width: 100%;
    border-radius: 4px;
}

.product-card button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.product-card button:hover {
    background-color: darkred;
}

.hidden {
    display: none;
}

#product-form-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}

#product-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#product-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#product-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

#product-form button[type="button"] {
    background-color: #ccc;
    color: black;
}

/* Media Queries */

/* Ajustes para pantallas de tablets y dispositivos medianos */
@media (max-width: 768px) {

    /* Cambiar la disposición del header a una columna para pantallas pequeñas */
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    /* Ajustar los enlaces de navegación para apilarlos verticalmente */
    nav a {
        margin: 10px 0;
    }

    /* Ajustar el tamaño de las tarjetas de producto para pantallas pequeñas */
    .product-card {
        max-width: 100%;
        /* Hacer que las tarjetas de producto ocupen todo el ancho disponible */
    }
}

/* Ajustes para pantallas de móviles pequeños */
@media (max-width: 480px) {

    /* Hacer que las tarjetas de producto ocupen todo el ancho disponible */
    .product-card {
        width: 100%;
        max-width: 100%;
    }

    /* Ajustar el relleno del contenedor del formulario en pantallas pequeñas */
    #product-form-container {
        padding: 15px;
    }
}