{% extends "partials/base.html" %}

{% block content %}
<div class="heading">
  <h1>About Us</h1>
  <p><strong><em>Hola!</em></strong> somos desarrolladores web con experiencia en tecnologías de desarrollo moderno! Dominamos HTML, CSS y JavaScript para la creación interfaces atractivas y funcionales. Además, contamos con experiencia en el backend usando Go y bases de datos SQL, lo que nos permite ofrecer soluciones completas y eficientes.</p>
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="/static/img/programador alegre.avif" alt="about us image">
    </div>
    <div class="about-content">
      <h2>Beneficios de trabajar con nosotros</h2>
      <p>Experiencia y Profesionalismo: Nuestro equipo está compuesto por desarrolladores con experiencia en diversas tecnologías web, incluyendo HTML, CSS, JavaScript, Go, y bases de datos SQL. Esto nos permite abordar cada proyecto con un enfoque integral y profesional.
      </p>
      <p>Soluciones Personalizadas</p>
      <p>Calidad y Eficiencia</p>          
      <p>Innovación y Actualización Continua</p>
      <p>Soporte y Colaboración</p>
      <a href="https://github.com/paulachung/CompuApple/tree/main" class="read-more">Leer Más</a>
    </div>
  </section>
</div>
<!--<script src="/static/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> {% endcomment %}
-->
{% endblock content %}
