<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompuApple - Admin</title>
    <!-- estilos css -->
    <link rel="stylesheet" type="text/css" href="/static/css/card.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styleAdmin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/products.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mediaQueries.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecarrito.css') }}">
    <link rel="stylesheet" type="text/css" href="/static/css/responsivo.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!-- Fuentes Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">
                <img src="/static/img/logonuevo.png" alt="CompuApple" class="logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs">Sobre nosotros</a>
                    </li>
                    <!-- Mostrar el nombre de usuario si está en sesión -->
                    {% if session.get('user_id') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin') if session.get('is_admin') else '#' }}"><i class="fa-solid fa-user"></i> {{ session['nombre'] }}</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST" style="display:inline;">
                                <button type="submit" class="nav-link btn btn-link">Cerrar sesión</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Iniciar sesión</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" id="cartIcon">
                            <i class="fa-solid fa-cart-shopping"></i> 
                        </a>
                    </li>
                    <li class="nav-item">
                        <span id="toggle-btn" class="nav-link dark-mode-toggle"><i class="fa-regular fa-lightbulb"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div id="admin-container">
        <button id="add-product-btn">Agregar Producto</button>

        <div class="container">
            <!-- Tarjetas de productos que se agregan dinámicamente aca -->
            {% for product in products %}
            <div class="card" data-categoria="product" data-subcategoria="{{ product.productName }}">
                 <!-- Checkbox para seleccionar el producto -->
                 <input type="checkbox" class="product-checkbox" data-product-id="{{ product.id }}" data-product-type="{{ product.producttype }}">
                <img src="{{product.img}}" alt="{{ product.productName }}" class="card-img-top">
                <div class="card-body">
                    <h3 class="card-title">{{ product.productName }}</h3> 
                    <p class="price">{{ product.price }}</p> 
                    <p class="card-text">{{ product.color }}, {{ product.dimensiones }} </p> 
                    <div class="buttons">
                        <button class="buy-now">Comprar Ahora</button>
                        <button class="add-to-cart">Añadir al Carrito</button>
                    </div>
                </div>
                <a href="/update/{{product.id}}/{{product.producttype}}">Actualizar</a>

                <a href="/delete/{{product.id}}/{{product.producttype}}">Eliminar</a>
            </div>
            {% endfor %}
            
        </div>

        <button id="delete-selected-btn">Eliminar Seleccionados</button> 

        <!-- Modal para agregar/modificar productos -->
        <div id="productModal" class="modal" class="form-control">
            <div class="modal-content" class="form-control">
                <span class="close">&times;</span>
                <h2 id="form-title">Agregar Producto</h2>
                <form id="productForm" action="/add-product" method="post" enctype="multipart/form-data">
                    <label for="productType">Seleccionar tipo de producto:</label>
                    <select id="productType" name="productType">
                        <option value="">Seleccione un producto</option>
                        <option value="mac">Mac</option>
                        <option value="iphone">Iphone</option>
                        <option value="ipad">Ipad</option>
                        <option value="airpods">AirPods</option>
                        <option value="applevisionpro">Apple Vision Pro </option>
                        <option value="applewatch">AppleWatch</option>
                    </select>
                    <label for="product-image">Imagen del Producto:</label>
                    <input type="file" id="img" name="img" accept="image/*" required>
                    <!-- Campos generales -->
                    <div id="generalFields" class="hidden">
                        <h3>Características Generales</h3>
                        <label for="productName" class = "form-label">Nombre del Producto:</label>
                        <input type="text" id="productName" name="productName" class="form-control"required>

                        <label for="price" class = "form-label">Precio:</label>
                        <input type="number" id="price" name="price" min="0" class="form-control" required>
                
                        <label for="color" class = "form-label">Color:</label>
                        <input type="text" id="color" name="color" class="form-control" required>
                    </div>

                    <!-- Campos específicos para MacBook -->
                    <div id="macFields" class="hidden">
                        <h2>Características Mac</h2>
                        <label for="screenSizeMac" class="form-label">Tamaño de pantalla:</label>
                        <input type="text" class="form-control" id="screenSizeMac" name="screenSizeMac" class="form-control">

                        <label for="capacidadMac">Capacidad:</label>
                        <input type="text" id="capacidadMac" name="capacidadMac" class="form-control">

                        <label for="memoriaMac">Memoria:</label>
                        <input type="text" id="memoriaMac" name="memoriaMac" class="form-control">

                        <label for="procesadorMac">Procesador:</label>
                        <input type="text" id="procesadorMac" name="procesadorMac" class="form-control">

                        <label for="softwareMac">Software:</label>
                        <input type="text" id="softwareMac" name="softwareMac" class="form-control">

                        <label for="conexionInalambricaMac">Conexion inalámbrica:</label>
                        <input type="text" id="conexionInalambricaMac" name="conexionInalambricaMac" class="form-control">

                        <label for="audioMac">Audio:</label>
                        <input type="text" id="audioMac" name="audioMac"class="form-control">

                        <label for="tecladoMac">Teclado y trackpad:</label>
                        <input type="text" id="tecladoMac" name="tecladoMac" class="form-control">

                        <label for="dimensiones">Dimensiones:</label>
                        <input type="text" id="dimensiones" name="dimensiones"class="form-control">

                        <label for="camaraMac">Cámara:</label>
                        <input type="text" id="camaraMac" name="camaraMac"class="form-control">

                        <label for="formatoDeVideoMac">Formato de video:</label>
                        <input type="text" id="formatoMac" name="formatoMac"class="form-control">

                        <label for="bateriaMac">Bateria y alimentación:</label>
                        <input type="text" id="bateriaMac" name="bateriaMac"class="form-control">

                    </div>

                    <!-- Campos específicos para iPhone -->
                    <div id="iphoneFields" class="hidden">
                        <h2>Características Iphone</h2>
                        <label for="screenSizeIphone">Tamaño de pantalla:</label>
                        <input type="text" id="screenSizeIphone" name="screenSizeIphone"class="form-control">

                        <label for="resolutionIphone">Resolución de pantalla:</label>
                        <input type="text" id="resolutionIphone" name="resolutionIphone"class="form-control">

                        <label for="resistenciaIphone">Resistencia a salpicaudras, el agua y el polvo:</label>
                        <input type="checkbox" id="resistenciaIphone" name="resistenciaIphone">

                        <label for="procesadorIphone">Procesador:</label>
                        <input type="text" id="procesadorIphone" name="procesadorIphone"class="form-control">

                        <label for="camaraIphone">Cámara:</label>
                        <input type="text" id="camaraIphone" name="camaraIphone"class="form-control">

                        <label for="dimensiones">Dimensiones:</label>
                        <input type="text" id="dimensiones" name="dimensiones"class="form-control">

                        <label for="faceidIphone">Face ID:</label>
                        <input type="checkbox" id="faceidIphone" name="faceidIphone">

                        <label for="memoryIphone">Memoria:</label>
                        <input type="text" id="memoryIphone" name="memoryIphone"class="form-control">

                        <label for="geolocalizacion">Geolocalización:</label>
                        <input type="checkbox" id="geolocalizacion" name="geolocalizacion">

                        <label for="reproduccionIphone">Reproducción de audio y video:</label>
                        <input type="text" id="reproduccionIphone" name="reproduccionIphone"class="form-control">

                        <label for="sensoresIphone">Sensores:</label>
                        <input type="text" id="sensoresIphone" name="sensoresIphone"class="form-control">

                        <label for="grabacionIphone">Grabación de video:</label>
                        <input type="text" id="grabacionIphone" name="grabacionIphone"class="form-control">

                        <label for="siriIphone">Siri:</label>
                        <input type="checkbox" id="siriIphone" name="siriIphone">

                        <label for="bateriaIphone">Bateria y alimentación:</label>
                        <input type="text" id="bateriaIphone" name="bateriaIphone"class="form-control">
                    </div>

                    <!-- Campos específicos para ipad -->
                    <div id="ipadFields" class="hidden">
                        <h2>Características Ipad</h2>
                        <label for="screenSizeIpad">Tamaño de pantalla:</label>
                        <input type="text" id="screenSizeIpad" name="screenSizeIpad"class="form-control">

                        <label for="capacidadIpad">Capacidad:</label>
                        <input type="text" id="capacidadIpad" name="capacidadIpad"class="form-control">

                        <label for="memoriaipad">Memoria:</label>
                        <input type="text" id="memoriaipad" name="memoriaipad"class="form-control">

                        <label for="procesadorIpad">Procesador:</label>
                        <input type="text" id="procesadorIpad" name="procesadorIpad"class="form-control">

                        <label for="camaraIpad">Cámara fotos y procesador de video:</label>
                        <input type="text" id="camaraIpad" name="camaraIpad"class="form-control">

                        <label for="softwareIpad">Software:</label>
                        <input type="text" id="softwareIpad" name="softwareIpad"class="form-control">

                        <label for="conexioninalambricaIpad">Conexion inalámbrica:</label>
                        <input type="text" id="conexioninalambricaIpad" name="conexioninalambricaIpadclass="form-control"">

                        <label for="audioIpad">Audio:</label>
                        <input type="text" id="audioIpad" name="audioIpad"class="form-control">

                        <label for="geolocalizacionIpad">Geolocalización:</label>
                        <input type="checkbox" id="geolocalizacionIpad" name="geolocalizacionIpad">

                        <label for="bateriaIpad">Bateria y alimentación:</label>
                        <input type="text" id="bateriaIpad" name="bateriaIpad"class="form-control">

                        <label for="sensoresIpad">Sensores:</label>
                        <input type="text" id="sensoresIpad" name="sensoresIpad"class="form-control">

                        <label for="tuchIdIpad">Tuch ID:</label>
                        <input type="text" id="tuchIdIpad" name="tuchIdIpad"class="form-control">

                        <label for="siriIpad">Siri:</label>
                        <input type="checkbox" id="siriIpad" name="siriIpad">

                    </div>

                    <!-- Campos específicos para AirPods -->
                    <div id="airpodsFields" class="hidden">
                        <h2>Características Airpods</h2>
                        <label for="batteryLifeAirpods">Duración de la batería:</label>
                        <input type="text" id="batteryLifeAirpods" name="batteryLifeAirpods"class="form-control">

                        <label for="noiseCancellation">Cancelación de ruido:</label>
                        <input type="checkbox" id="noiseCancellation" name="noiseCancellation">

                        <label for="sensoresAirpods">Sensores:</label>
                        <input type="text" id="sensoresAirpods" name="sensoresAirpods"class="form-control">

                    </div>

                    <!-- Campos específicos para apple Vision Pro -->
                    <div id="applevisionpro" class="hidden">
                        <h2>Características Apple Vision Pro</h2>

                        <label for="screenSizeVison">Pantalla:</label>
                        <input type="text" id="screenSizeVison" name="screenSizeVison"class="form-control">

                        <label for="batteryVisionPro">Duración de la batería:</label>
                        <input type="text" id="batteryVisionPro" name="batteryVisionPro"class="form-control">

                        <label for="sensoresVisionPro">Sensores:</label>
                        <input type="text" id="sensoresVisionPro" name="sensoresVisionPro"class="form-control">

                        <label for="dimensiones">Dimensiones:</label>
                        <input type="text" id="dimensiones" name="dimensiones"class="form-control">

                        <label for="modosVisionPro">Modos:</label>
                        <input type="text" id="modosVisionPro" name="modosVisionPro"class="form-control">

                        <label for="juegos">Cantidad de Juegos:</label>
                        <input type="number" id="juegos" name="juegos"class="form-control">

                    </div>

                    <!-- Campos específicos para Wach -->
                    <div id="wachFields" class="hidden">
                        <h2>Características Watch</h2>
                        <label for="batteryLifeWach">Duración de la batería:</label>
                        <input type="text" id="batteryLifeWach" name="batteryLifeWach"class="form-control">

                        <label for="sensoresWach">Sensores:</label>
                        <input type="text" id="sensoresWach" name="sensoresWach"class="form-control">

                        <label for="dimensiones">Dimensiones:</label>
                        <input type="text" id="dimensiones" name="dimensiones"class="form-control">
                        
                        <label for="modos">Modos:</label>
                        <input type="text" id="modos" name="modos"class="form-control">

                    </div>

                    <button type="submit">Agregar Producto</button> 

                </form>
            </div>
        </div>
    </div>
<!-- Modal de confirmación -->
<div id="confirmation-modal" class="confirmation-modal">
    <div class="confirmation-modal-content">
        <span class="confirmation-close" onclick="closeModal()">&times;</span>
        <h2>Confirmar eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar los productos seleccionados? Esta acción no se puede deshacer.</p>
        <button id="confirm-delete" class="confirmation-confirm-button">Eliminar</button>
        <button onclick="closeModal()" class="confirmation-cancel-button">Cancelar</button>
    </div>
</div>

    <button id="btn-subir-arriba" title="Volver arriba">
        <i class="bi bi-arrow-up-circle-fill"></i>
    </button>

    <footer>
        <p>&copy; 2024 CompuApple. Todos los derechos reservados.</p>
    </footer>
            

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-O4XmD90ZRGF9/tp6Hq9z6w4Kyl4YXvqjaElCh1F/5S0cC2XsCtwZ0p5DgI9orO/m" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93K/oYVQdiQjauT61/8CKWeLdr6+wUczI2t7XYo0+zWjgmEildkKzwErnoEdyc" crossorigin="anonymous">
        </script>


    <script src="../static/js/script.js"></script>
    <script src="../static/js/admin.js"></script>
<script>
        document.getElementById('productForm').addEventListener('submit', function() {
            setTimeout(function() {
                window.location.reload();
            }, 2000); // Recargar la página 1 segundo después de agregar el producto
        });

        // boton volver arriba
        var btnSubir = document.getElementById("btn-subir-arriba");
        btnSubir.onclick = function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
        
        let lastScrollPosition = 0;
        // mostrar cuando hace scroll
        window.onscroll = function() {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                btnSubir.style.display = "block";
            } else {
                btnSubir.style.display = "none";
            }
        };
</script>
</body>

</html>