<input type="file" id="img" name="img" accept="image/*" required>
<!-- Campos generales -->
<div id="generalFields" class="hidden">
    <h3>Características Generales</h3>
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="productName" value="{{product.}}" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" min="0" value="{{product.}}" required>

    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="{{product.}}" required>
</div>

<!-- Campos específicos para MacBook -->
<div id="macFields" class="hidden">
    <h2>Características Mac</h2>
    <label for="screenSizeMac">Tamaño de pantalla:</label>
    <input type="text" id="screenSizeMac" name="screenSizeMac">

    <label for="capacidadMac">Capacidad:</label>
    <input type="text" id="capacidadMac" name="capacidadMac">

    <label for="memoriaMac">Memoria:</label>
    <input type="text" id="memoriaMac" name="memoriaMac">

    <label for="procesadorMac">Procesador:</label>
    <input type="text" id="procesadorMac" name="procesadorMac">

    <label for="softwareMac">Software:</label>
    <input type="text" id="softwareMac" name="softwareMac">

    <label for="conexionInalambricaMac">Conexion inalámbrica:</label>
    <input type="text" id="conexionInalambricaMac" name="conexionInalambricaMac">

    <label for="audioMac">Audio:</label>
    <input type="text" id="audioMac" name="audioMac">

    <label for="tecladoMac">Teclado y trackpad:</label>
    <input type="text" id="tecladoMac" name="tecladoMac">

    <label for="dimensiones">Dimensiones:</label>
    <input type="text" id="dimensiones" name="dimensiones">

    <label for="camaraMac">Cámara:</label>
    <input type="text" id="camaraMac" name="camaraMac">

    <label for="formatoDeVideoMac">Formato de video:</label>
    <input type="text" id="formatoMac" name="formatoMac">

    <label for="bateriaMac">Bateria y alimentación:</label>
    <input type="text" id="bateriaMac" name="bateriaMac">

</div>